/*****************************************************************************/
/*****************************************************************************/
/* Page Content Styles */
/*****************************************************************************/
/*****************************************************************************/

.xdebug-var-dump {
	margin-top: 60px;
}

#content_data {
	margin: 0 10px;
}

iframe {
    border: 1px #eeeeee solid;
	-moz-border-radius: 5px;
	-webkit-radius: 5px;
	border-radius: 5px;
}

.btn-group.item-options {
	margin-right: 15px;	
}

#change-password-form {
	margin-top: 30px;
}

.top-btn-group {
	margin-bottom: 15px;
}

/*****************************************************************************/
/* Icon Styles */
/*****************************************************************************/
.top_mod_links a [class^="fa-"],
.top_mod_links a [class*=" fa-"] {
	margin-right: 5px;
}

.alert .fa,
a > [class^="fa-"],
a > [class*=" fa-"] {
	margin-right: 5px;
}

li a .fa {
	/* width: 15px; */
}

.btn .fa {
	margin-right: 5px;
}

.sub-modules-nav li a .fa,
.home-menu li a .fa {
	background: #708090;
	color: white;
	border-radius: 3px;
	padding: 5px;
	text-align: center;
	margin-right: 15px;
}

.sub-modules-nav .fa,
.home-menu .fa {
	width: 25px;
}

/*****************************************************************************/
/* Top Right Nav Icon Styles */
/*****************************************************************************/
.dropdown-menu-right li.active .fa 	{ color: $default-icon-color; }
.dropdown-menu-right .fa-asterisk 	{ color: $fa-asterisk; }
.dropdown-menu-right .fa-user 		{ color: $fa-user; }
.dropdown-menu-right .fa-lock 		{ color: $fa-lock; }
.dropdown-menu-right .fa-code 		{ color: $fa-code; }
.dropdown-menu-right .fa-list-ul 	{ color: $fa-list-ul; }
.dropdown-menu-right .fa-sign-out 	{ color: $fa-sign-out; }

/*****************************************************************************/
/* Sub-modules Nav Icon Styles */
/*****************************************************************************/
.sub-modules-nav li a .fa-usd 				{ background: $fa-usd; }
.sub-modules-nav li a .fa-check		 		{ background: $fa-check; }
.sub-modules-nav li a .fa-plus-circle 		{ background: $fa-plus-circle; }
.sub-modules-nav li a .fa-minus-circle 		{ background: $fa-minus-circle; }
.sub-modules-nav li a .fa-file-text 		{ background: $fa-file-text; }
.sub-modules-nav li a .fa-lock 				{ background: $fa-lock; }
.sub-modules-nav li a .fa-copy 				{ background: $fa-copy; }
.sub-modules-nav li a .fa-tasks 			{ background: $fa-tasks; }
.sub-modules-nav li a .fa-comments-o 		{ background: $fa-comments-o; }
.sub-modules-nav li a .fa-comment-o 		{ background: $fa-comment-o; }
.sub-modules-nav li a .fa-comments-o 		{ background: $fa-comments; }
.sub-modules-nav li a .fa-comment-o 		{ background: $fa-comment; }
.sub-modules-nav li a .fa-file-o 			{ background: $fa-file-o; }
.sub-modules-nav li a .fa-desktop 			{ background: $fa-desktop; }
.sub-modules-nav li a .fa-user 				{ background: $fa-user; }
.sub-modules-nav li a .fa-group 			{ background: $fa-group; }
.sub-modules-nav li a .fa-globe 			{ background: $fa-globe; }
.sub-modules-nav li a .fa-car 				{ background: $fa-car; }
.sub-modules-nav li a .fa-building			{ background: $fa-building; }
.sub-modules-nav li a .fa-building-o		{ background: $fa-building-o; }
.sub-modules-nav li a .fa-clock-o	 		{ background: $fa-clock-o; }
.sub-modules-nav li a .fa-list-ol 			{ background: $fa-list-ol; }
.sub-modules-nav li a .fa-list	 			{ background: $fa-list; }
.sub-modules-nav li a .fa-list-alt 			{ background: $fa-list-alt; }
.sub-modules-nav li a .fa-check-square-o	{ background: $fa-check-square-o; }
.sub-modules-nav li a .fa-code	 			{ background: $fa-code; }
.sub-modules-nav li a .fa-gears				{ background: $fa-gears; }
.sub-modules-nav li a .fa-puzzle-piece		{ background: $fa-puzzle-piece; }
.sub-modules-nav li a .fa-plane 			{ background: $fa-plane; }
.sub-modules-nav li a .fa-chevron-circle-right { background: $fa-chevron-circle-right; }

/*****************************************************************************/
/* Main Nav Icon Styles */
/*****************************************************************************/
#header ul.dropdown-menu li.active .fa		{ color: #ffffff; }
#header ul.dropdown-menu .fa-home 			{ color: $fa-home; }
#header ul.dropdown-menu .fa-check 			{ color: $fa-check; }
#header ul.dropdown-menu .fa-code 			{ color: $fa-code; }
#header ul.dropdown-menu .fa-plus-circle 	{ color: $fa-plus-circle; }
#header ul.dropdown-menu .fa-minus-circle 	{ color: $fa-minus-circle; }
#header ul.dropdown-menu .fa-usd 			{ color: $fa-usd; }
#header ul.dropdown-menu .fa-lock 			{ color: $fa-lock; }
#header ul.dropdown-menu .fa-gears 			{ color: $fa-gears; }
#header ul.dropdown-menu .fa-plane 			{ color: $fa-plane; }
#header ul.dropdown-menu .fa-wrench 		{ color: $fa-wrench; }
#header ul.dropdown-menu .fa-truck		 	{ color: $fa-truck; }
#header ul.dropdown-menu .fa-building 		{ color: $fa-building; }
#header ul.dropdown-menu .fa-building-o		{ color: $fa-building-o; }
#header ul.dropdown-menu .fa-file-o 		{ color: $fa-file-o; }
#header ul.dropdown-menu .fa-file-text-o 	{ color: $fa-file-text-o; }
#header ul.dropdown-menu .fa-file-text	 	{ color: $fa-file-text; }
#header ul.dropdown-menu .fa-list-alt		{ color: $fa-list-alt; }
#header ul.dropdown-menu .fa-list			{ color: $fa-list; }
#header ul.dropdown-menu .fa-list-ol		{ color: $fa-list-ol; }
#header ul.dropdown-menu .fa-list-ul		{ color: $fa-list-ul; }
#header ul.dropdown-menu .fa-group			{ color: $fa-group; }
#header ul.dropdown-menu .fa-tasks 			{ color: $fa-tasks; }
#header ul.dropdown-menu .fa-clock-o	 	{ color: $fa-clock-o; }
#header ul.dropdown-menu .fa-user 			{ color: $fa-user; }
#header ul.dropdown-menu .fa-desktop 		{ color: $fa-desktop; }
#header ul.dropdown-menu .fa-car 			{ color: $fa-car; }
#header ul.dropdown-menu .fa-comments-o 	{ color: $fa-comments-o; }
#header ul.dropdown-menu .fa-comments 		{ color: $fa-comments; }
#header ul.dropdown-menu .fa-comment-o 		{ color: $fa-comment-o; }
#header ul.dropdown-menu .fa-comment 		{ color: $fa-comment; }
#header ul.dropdown-menu .fa-globe	 		{ color: $fa-globe; }
#header ul.dropdown-menu .fa-copy	 		{ color: $fa-copy; }
#header ul.dropdown-menu .fa-puzzle-piece	{ color: $fa-puzzle-piece; }

/*****************************************************************************/
/* Font Awesome Icon Sizing */
/*****************************************************************************/
.fa.fa2 {
    font-size: 2em;
}
.fa.fa3 {
    font-size: 4em;
}
.fa.fa4 {
    font-size: 7em;
}
.fa.fa5 {
    font-size: 12em;
}
.fa.fa6 {
    font-size: 20em;
}
.fa.fa1, 
.fa.fa2, 
.fa.fa3, 
.fa.fa4, 
.fa.fa5, 
.fa.fa6 {
    margin-right: 0.0714286em;
}

/*****************************************************************************/
/* Server Side Validation Styles */
/*****************************************************************************/
.ssv_header {
	margin-bottom: 10px !important;
}

.ssv_messages {
	margin-bottom: 20px;
}

.ajax_response .ssv_messages {
	margin-top: 8px;
}
.ajax_response .ssv_messages h3 {
	font-size: 14px;
}

/*****************************************************************************/
/* Record Set Styles */
/*****************************************************************************/
.rs .statuses .status {
	margin-left: 7px;
}

.rs .extra_data_box {
	margin-top: 10px;	
}

.empty_rs {
	/* margin-top: 10px; */
}

.table .btn .fa,
.rs .btn .fa {
	margin-right: 0;
	padding-right: 0;
}

.table .text-with-icon .fa, 
.rs .text-with-icon .fa {
	margin-right: 7px;
}

.table-responsive {
	padding: 5px;
}

.table .btn-group .fa,
.rs .btn-group .fa {
	margin-right: 5px;
}

/*****************************************************************************/
/* Filters */
/*****************************************************************************/
.filters {
	padding: 0 10px 10px;	
}

.filter_wrapper {
	white-space: nowrap;
	display: inline-block;
	padding-top: 10px;
}

.filter_wrapper label,
.filter_wrapper select {
	display: inline-block;
}

.filter_wrapper select {
	width: auto;
}

/*****************************************************************************/
/* Forms / Input Fields */
/*****************************************************************************/
.inline input[type="radio"],
.inline input[type="checkbox"] {
	margin-left: 10px;
	margin-right: 10px;
}

input[type="radio"],
input[type="checkbox"] {
	/* margin-top: 7px; */
}

.form-group input[type="radio"],
.form-group input[type="checkbox"] {
	margin-top: 7px;
}

.access_checkbox input[type="checkbox"] {
	margin: 0 5px 5px;
}

textarea.editable-input {
	width: 100%;
}

.select-width-auto select {
	width: auto;
}

button.btn[type="submit"] {
	margin-top: 20px;	
}

#editor {
	overflow: scroll;
	max-height: 800px;
	min-height: 200px;
	border: 1px #cccccc solid;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-radius: 5px;
	border-radius: 5px;
}

form .btn-group {
	margin-top: 5px;
}

form .dropdown-menu {
	padding: 3px;
}

form .text-content-field {
	display: block;
	margin-top: 5px;
}

#main form .form-group {
	margin-left: 0;
	margin-right: 0;
}

form fieldset fieldset legend {
	font-size: 18px;
}

.static-field {
	display: block;
	margin-top: 5px;	
}

.form-group input,
.form-group select {
	display: inline-block;
}

/*****************************************************************************/
/* Top Module Links */
/*****************************************************************************/
.top_mod_links {
	padding: 3px;
    background: #fafafa;
    margin-left: 0;
    margin-bottom: 10px;
    border: 1px #f3f3f3 solid;
	-moz-border-radius: 5px;
	-webkit-radius: 5px;
	border-radius: 5px;
}

.top_mod_links {
	background: transparent;
	border: 0;
}

.top_mod_links ul {
	margin: 0;
    padding-left: 5px;
}

.top_mod_links li {
    list-style: none;
    padding: 2px;
    display: inline-block;
}

.top_mod_links a {
    /* padding: 2px; */
}

/*****************************************************************************/
/* Table Styles */
/*****************************************************************************/
table td a.btn {
	padding: 1px 5px;
}

#main .table-responsive table td {
	padding-left: 5px;
}

/*****************************************************************************/
/* Misc. Styles */
/*****************************************************************************/
.search_param_box div {
	padding-left: 10px;
}

.header_title {
	color: #333333;
	margin-bottom: 10px;
	margin: 10px 0;
	font-size: 18px;
	font-weight: bold;
}

.form_notes {
	font-size: 11px;
	font-style: italic;
	color: #ff4040;
}

.no_setup {
	color: red;
	font-weight: bold;
}

.notice {
	color: blue;
	font-weight: bold;
}

/****************************************************************/
/* Messages */
/****************************************************************/
.ajax_response {
	margin-left: 10px;
}

.text_block {
	margin: 5px;
}

.text_block img {
	vertical-align: middle;
	margin-right: 5px;
	max-width: 22px;
	padding-bottom: 2px;
}

/****************************************************************/
/* Alerts */
/****************************************************************/
.alert {
	padding: 8px;
}

.alert em {
	text-decoration: underline;
}

.alert.top {
	/* margin-bottom: -10px; */
	margin-top: 5px;
}

/****************************************************************/
/* Form Messages */
/****************************************************************/
.del_form_message {
	color: red;
}

.del_form_message em {
	color: #666666;
	text-decoration: underline;
	padding-right: 3px;
}

.info_form_message {
	color: darkblue;
}

.info_form_message em {
	color: #666666;
}

/*****************************************************************************/
/* Toggler Styles */
/*****************************************************************************/
.toggler {
	/* background: white; */
	cursor: pointer;
	padding: 1px 3px;
}

/*****************************************************************************/
/* Home Menu Styles */
/*****************************************************************************/
.home-menu li a {
	font-size: 16px;
}

/*****************************************************************************/
/* Administration Styles */
/*****************************************************************************/
#user_list .record {
	padding: 10px 5px;
}

/*****************************************************************************/
/* Report Module Styles */
/*****************************************************************************/
.reports_list ul {
	list-style-type: none;
}

/*****************************************************************************/
/*****************************************************************************/
/* Responsive CSS Styles */
/*****************************************************************************/
/*****************************************************************************/

/***********************************************************/
/* Large desktop */
/***********************************************************/
@media (min-width: 1200px) {


}

/***********************************************************/
/* Small Desktop */
/***********************************************************/
@media (min-width: 980px) {

	
}

/***********************************************************/
/* Portrait tablet to landscape and Desktop */
/***********************************************************/
@media (min-width: 768px) and (max-width: 979px) {

	
}

/***********************************************************/
/* Tablet */
/***********************************************************/
@media (max-width: 1024px) {


}

/***********************************************************/
/* Landscape phone to portrait tablet */
/***********************************************************/
@media (max-width: 767px) {


}

/***********************************************************/
/* Landscape phones */
/***********************************************************/
@media (max-width: 480px) {


}

/***********************************************************/
/* Portrait phones and down */
/***********************************************************/
@media (max-width: 320px) {


}
