/****************************************************************************/
/****************************************************************************/
/* Page Content Styles */
/****************************************************************************/
/****************************************************************************/

iframe {
    border: 1px #eeeeee solid;
	-moz-border-radius: 5px;
	-webkit-radius: 5px;
	border-radius: 5px;
}

/********************************************/
/* General Styles */
/********************************************/
.left { float: left; }
.right { float: right; }
.clear_none, clear-none { clear: none; }
.clear, clear_both { clear: both; }
.clear_left, clear-left { clear: left; }
.clear_right clear-right { clear: right; }
.hidden { display: none; }
.invisible { visibility: hidden; }
.no_wrap, .nowrap, .no-wrap { white-space: nowrap; }
.center { text-align: center; }
.bold { font-weight: bold; }
.underline { text-decoration: underline; }

/*****************************************************************************/
/* Forms / Input Fields */
/*****************************************************************************/
textarea.editable-input {
	width: 100%;
}

.select-width-auto select {
	width: auto;
}

button.btn[type="submit"] {
	margin-top: 20px;	
}

/*****************************************************************************/
/* Boxes / Message Constructs */
/*****************************************************************************/
.outer_box, 
.top_mod_links {
	padding: 3px;
    background: #fafafa;
    margin-left: 0;
    margin-bottom: 10px;
    border: 1px #f3f3f3 solid;
	-moz-border-radius: 5px;
	-webkit-radius: 5px;
	border-radius: 5px;
}

.top_mod_links {
	background: transparent;
	border: 0;
}

.outer_box ul, 
.top_mod_links ul {
	margin: 0;
}

.outer_box li,
.top_mod_links li {
    list-style: none;
    padding: 2px;
    display: inline-block;
}

.outer_box a,
.top_mod_links a {
    /* padding: 2px; */
}

#page .message_box {
	background: #eeeeee;
	border: 1px #cccccc solid;
	color: #262659;
	padding: 10px;
	font-size: 12px;
	margin-bottom: 5px;
	-moz-border-radius: 5px;
	-webkit-radius: 5px;
	border-radius: 5px;
}

.search_param_box {
	padding: 5px;
}

.search_param_box div {
	padding: 3px;
}

table td a.btn {
	padding: 1px 5px;
} 

/****************************************************************/
/* Messages */
/****************************************************************/
.ajax_response {
	margin-left: 10px;
}
.messages_wrapper div {
	padding: 5px;
}

.action_message, 
.warn_message, 
.error_message, 
.gen_message, 
.timer_message,
.page_message,
.bottom_message {
	color: #333333;
	font-size: 14px;
	text-align: left;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 5px 0;
	padding-left: 10px;
	-moz-border-radius: 5px;
	-webkit-radius: 5px;
	border-radius: 5px;
}

.text_block {
	margin: 5px;
}

.page_message .text_block {
	margin: 2px;
}

.text_block img {
	vertical-align: middle;
	margin-right: 5px;
	max-width: 22px;
	padding-bottom: 2px;
}

.page_message .text_block img,
.bottom_message .text_block img {
	padding-bottom: 3px;
}

.action_message {
	border: 1px #D9D9AD solid;
	background: #ffffcc;
}

.warn_message {
	border: 1px #BF9A60 solid;
	background: #FFCD80;
}

.error_message {
	border: 1px #BF8F8F solid;
	background: #FFBFBF;
}

.gen_message {
	border: 1px #8F9FAE solid;
	background: #BFD4E8;
}

.page_message,
.bottom_message {
	border: 1px #80B3F7 solid;
	background: #BFD9FB;
	margin: 5px 0 3px;
	padding: 2px 10px 0;
	font-size: 12px;
}

.bottom_message {
	margin-bottom: 10px;
}

.timer_message {
	border: 1px #80C080 solid;
	background: #BFDFBF;
}


/****************************************************************/
/* Alerts */
/****************************************************************/
.alert em {
	text-decoration: underline;
}

.alert.top {
	margin-bottom: -10px;
	margin-top: 5px;
}

/****************************************************************/
/* Form Messages */
/****************************************************************/
.del_form_message {
	color: red;
}

.del_form_message em {
	color: #666666;
	text-decoration: underline;
	padding-right: 3px;
}

.info_form_message {
	color: darkblue;
}

.info_form_message em {
	color: #666666;
}

/****************************************************************/
/* Server Side Validation Messages */
/****************************************************************/
/*
.ssv_messages {
	background: #FFFFD9;
	border: 1px #D9D957 solid;
	padding: 10px;
	margin-bottom: 5px;
	-moz-border-radius: 5px;
	-webkit-radius: 5px;
	border-radius: 5px;
}
*/
.ssv_messages h4 {
	margin: 0;
	margin-bottom: 10px;
}

.ajax_response .ssv_messages {
	margin-top: 8px;
}
.ajax_response .ssv_messages h3 {
	font-size: 14px;
}

/*****************************************************************************/
/* Record Set Column / Width Styles */
/*****************************************************************************/
.icon_col { width: 5%; }
.rs-col-1, width_1 { width: 1%; }
.rs-col-2, width_2 { width: 2%; }
.rs-col-3, width_3 { width: 3%; }
.rs-col-4, width_4 { width: 4%; }
.rs-col-5, width_5 { width: 5%; }
.rs-col-6, width_6 { width: 6%; }
.rs-col-7, width_7 { width: 7%; }
.rs-col-8, width_8 { width: 8%; }
.rs-col-9, width_9 { width: 9%; }
.rs-col-10, width_10 { width: 10%; }
.rs-col-15, width_15 { width: 15%; }
.rs-col-20, width_20 { width: 20%; }
.rs-col-25, width_25 { width: 25%; }
.rs-col-30, width_30 { width: 30%; }
.rs-col-35, width_35 { width: 35%; }
.rs-col-40, width_40 { width: 40%; }
.rs-col-45, width_45 { width: 45%; }
.rs-col-50, width_50 { width: 50%; }
.rs-col-55, width_55 { width: 55%; }
.rs-col-60, width_60 { width: 60%; }
.rs-col-65, width_65 { width: 65%; }
.rs-col-70, width_70 { width: 70%; }
.rs-col-75, width_75 { width: 75%; }
.rs-col-80, width_80 { width: 80%; }
.rs-col-85, width_85 { width: 85%; }
.rs-col-90, width_90 { width: 90%; }
.rs-col-95, width_95 { width: 95%; }
.rs-col-100, width_100 { width: 100%; }

/*****************************************************************************/
/* Filters */
/*****************************************************************************/
.filter_options {
	background: #E6F0E6;
    margin-bottom: 5px;
    padding: 5px;
}

.filters {
	background: #eeeeee;
	border: 1px #cccccc solid;
	padding: 5px;
}

.filters label {
	font-weight: bold;
}

.filters .filter {
	margin-right: 10px;
}

.filters label {
	display: inline-block;
}

.filters select {
	margin-bottom: 0;
}

/*****************************************************************************/
/* Icon Styles */
/*****************************************************************************/
.gen_icon {
	vertical-align: middle;
	padding-bottom: 2px;
	padding-right: 3px;
}

.gen_icon2 {
	padding-bottom: 3px;
	padding-right: 3px;
	vertical-align: middle;
}

.gen_icon3 {
	vertical-align: middle;
	padding-right: 3px;
	padding-bottom: 4px;
}

/*****************************************************************************/
/* Toggler Styles */
/*****************************************************************************/
.toggler {
	/* background: white; */
	cursor: pointer;
	padding: 1px 3px;
}

/*****************************************************************************/
/* Cursor Styles */
/*****************************************************************************/
.cursor_pointer {
	cursor: pointer;
}

/*****************************************************************************/
/* Yes / No Flags */
/*****************************************************************************/
.flag {
	color: white;
	padding: 2px 3px;
	-moz-border-radius: 5px;
	-webkit-radius: 5px;
	border-radius: 5px;
}
.flag_yes { background: green; }
.flag_no { background: red; }
.flag_no2 { background: #aaaaaa; }

/*****************************************************************************/
/* Record Set Styles */
/*****************************************************************************/
.rs {
	background: white;
}

.rs > div,
.rs > li,
.rs > tr td,
.rs > tbody tr td {
	border-top: 1px solid #DDDDDD;
	padding: 15px 7px;
}

.rs li {
	display: block;
}


.rs-striped > div:nth-child(2n+1),
.rs-striped > li:nth-child(2n+1) {
    background-color: #F9F9F9;
}

.hl_change td,
.hl_change {
	background: #FFFFCD !important;
}

/*****************************************************************************/
/* Rounded Corners */
/*****************************************************************************/
.rnd_corners {
	-moz-border-radius: 5px;
	-webkit-radius: 5px;
	border-radius: 5px;
}

.rnd_corners_top {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

.rnd_corners_right {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

.rnd_corners_bottom {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

.rnd_corners_left {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

/*****************************************************************************/
/* Nomenclature Styles */
/*****************************************************************************/
.required { color: red; }

/*****************************************************************************/
/* Input Styles */
/*****************************************************************************/
.inline input[type="radio"],
.inline input[type="checkbox"] {
	margin-left: 10px;
	margin-right: 10px;
}

/*****************************************************************************/
/* Twitter Bootstrap Override Styles */
/*****************************************************************************/
form.wide-labels .control-label {
	width: 200px;
}

/*****************************************************************************/
/* Code Mirror Override Styles */
/*****************************************************************************/
.CodeMirror {
	height: 600px !important;
	width: 100%;
}

/*****************************************************************************/
/* Revision Modal */
/*****************************************************************************/
#revision_modal {
	width: 96%;
	left: 2%;
	margin-left: 0;
	height: 500px;
}

#revision_modal iframe {
	height: 500px;
}

/*****************************************************************************/
/*****************************************************************************/
/* Responsive CSS Styles */
/*****************************************************************************/
/*****************************************************************************/

/***********************************************************/
/* Large desktop */
/***********************************************************/
@media (min-width: 1200px) {


}

/***********************************************************/
/* Small Desktop */
/***********************************************************/
@media (min-width: 980px) {

	
}

/***********************************************************/
/* Portrait tablet to landscape and Desktop */
/***********************************************************/
@media (min-width: 768px) and (max-width: 979px) {

	
}

/***********************************************************/
/* Tablet */
/***********************************************************/
@media (max-width: 1024px) {

	/*******************************************************/
	/* Revision Modal */
	/*******************************************************/
	#revision_modal {
		height: auto;
	}

}

/***********************************************************/
/* Landscape phone to portrait tablet */
/***********************************************************/
@media (max-width: 767px) {


}

/***********************************************************/
/* Landscape phones */
/***********************************************************/
@media (max-width: 480px) {


}

/***********************************************************/
/* Portrait phones and down */
/***********************************************************/
@media (max-width: 320px) {


}

/*****************************************************************************/
/* Print Styles */
/*****************************************************************************/
@media print {

	.no_print { display: none; }
	.print { display: block; }

}

