/****************************************************************************/
/****************************************************************************/
/* Content Layout Styles */
/****************************************************************************/
/****************************************************************************/

form {
	-moz-border-radius: 5px;
	-webkit-radius: 5px;
	border-radius: 5px;
	padding: 10px;
}

/*
form input[type="submit"] {
	color: white;
	background-color: #5EB95E;
    background-image: linear-gradient(to bottom, #62C462, #57A957);
    background-repeat: repeat-x;
	-moz-border-radius: 5px;
	-webkit-radius: 5px;
	border-radius: 5px;
	padding: 5px 7px;
}
*/
/***********************************************************************/
/* Layout Styles */
/***********************************************************************/

html,
body {
	height: 100%;
	background: url('/img/backgrounds/bg.jpg');
}

#page_wrapper {
	height: auto !important;
    margin: 0 auto -60px;
    min-height: 100%;
}

#main {
	padding-top: 60px;
	padding-bottom: 60px;
}

#content-wrapper {
	margin-top: 20px;
}

#home-welcome {
	font-size: 36px !important;	
}

#footer {
	height: 50px;
	background-color: #F5F5F5;
}

#footer .credit {
	margin: 20px 0;
}

/***********************************************************************/
/* Header */
/***********************************************************************/
#header .container-fluid {
	padding-bottom: 7px;
}

#header.navbar .nav {
	margin-top: 7px;
}

#header.navbar .nav li a {
	-moz-border-radius: 5px;
	-webkit-radius: 5px;
	border-radius: 5px;
}

#header .brand {
	font-size: 24px;
	margin-top: 7px;
}

/***********************************************************************/
/* Back Link */
/***********************************************************************/
#back_link {
	background-color: #FAA732;
    background-image: linear-gradient(to bottom, #FBB450, #F89406);
    background-repeat: repeat-x;
	-moz-border-radius: 5px;
	-webkit-radius: 5px;
	border-radius: 5px;
	padding: 5px 7px;
	margin-top: 10px;
}

#back_link a {
	color: white;
}

.layout-box-title #back-btn2 {
	margin-top: -4px;
}

/***********************************************************************/
/* Main Content */
/***********************************************************************/
#content_data {
	/* padding: 0 0 10px; */
}

#module_path_breadcrumbs {
	margin-bottom: 10px;	
}

.xdebug-error {
	margin-top: 40px;
}

/***********************************************************************/
/* Widget Box Styles */
/***********************************************************************/
.layout-box {
	-moz-border-radius: 5px;
	-webkit-radius: 5px;
	border-radius: 5px;
	padding: 0 5px;
	margin-bottom: 10px;
}
.layout-box-title .icon {
	float: left;
	margin-right: 5px;
}

.layout-box-title {
	height: 20px;
  	border: 1px solid #ddd;
	margin-bottom: -1px;
  	padding: 10px;
  	background-color: #fafafa;
  	background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
  	background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  	background-image: -o-linear-gradient(top, #fafafa, #efefef);
  	background-image: linear-gradient(to bottom, #fafafa, #efefef);
  	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  	-webkit-box-shadow: none;
     	-moz-box-shadow: none;
          box-shadow: none;
  	-webkit-border-radius: 5px 5px 0px 0px;
       -moz-border-radius: 5px 5px 0px 0px;
          	border-radius: 5px 5px 0px 0px;
	overflow: hidden;
}

.layout-box-title .break {
    border-left: 1px solid #FCFCFC;
    border-right: 1px solid #DDDDDD;
    margin: -12px 10px -10px;
    padding: 12px 0 10px;
}

.layout-box-title h2 {
    color: #646464;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    margin-top: 2px;
    text-shadow: 0 1px 0 #FFFFFF;
}

.layout-box-title .layout-box-actions {
    float: right;
    margin-top: 1px;
}

.layout-box-content {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #DDDDDD;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    margin-top: -1px;
    padding: 10px;
}

/***********************************************************************/
/* Horizontal Form */
/***********************************************************************/
.form-horizontal .control-label {
    float: left;
    margin-right: 15px;
    padding-top: 5px;
    text-align: left;
    width: 100px;
    white-space: nowrap;
    padding-right: 10px;
}

.form-horizontal .controls {
	float: left;
	margin-left: 0;
}

/***********************************************************************/
/* Notifications & Labels */
/***********************************************************************/

.notification {
	position: absolute;
	top: -12px;
	right: -12px;
	line-height: 16px;
	height: 16px;
	padding: 6px 10px;
	color: white !important;
	text-shadow: 0 1px hsla(0, 0%, 0%, 0.25);
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
  	-webkit-border-radius: 50em;
       -moz-border-radius: 50em;
          	border-radius: 50em;
	-webkit-box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
	   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
			box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
}

.notification-small {
	padding: 2px 7px;
	color: white !important;
	text-shadow: 0 1px hsla(0, 0%, 0%, 0.25);
	border-width: 1px;
	border-style: solid;
  	-webkit-border-radius: 50em;
       -moz-border-radius: 50em;
          	border-radius: 50em;
	-webkit-box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
	   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
			box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
}

.notification-small, 
.notification {
	border-color: #2FABE9;
	background-color: #67C2EF;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(200, 80%, 82%)), color-stop(100%, hsl(200, 81%, 67%)));
	background-image: -webkit-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
	background-image: -moz-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
	background-image: -ms-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
	background-image: -o-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
	background-image: linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
}

.notification-small.green,
.notification.green {
	border-color: 	#5AAD34;
	background-color: 	#78CD51;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(101, 54%, 71%)), color-stop(100%, hsl(101, 55%, 56%)));
	background-image: -webkit-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
	background-image: -moz-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
	background-image: -ms-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
	background-image: -o-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
	background-image: linear-gradient(top, 	hsl(101, 54%, 71%), hsl(101, 55%, 56%));
}

.notification-small.yellow,
.notification.yellow {
	border-color: #F4A506;
	background-color: #FABB3D;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(40, 95%, 76%)), color-stop(100%, hsl(40, 95%, 61%)));
	background-image: -webkit-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
	background-image: -moz-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
	background-image: -ms-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
	background-image: -o-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
	background-image: linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
}

.notification-small.red,
.notification.red {
	border-color: #FA5833;
	background-color: #FA603D;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(11, 95%, 76%)), color-stop(100%, hsl(11, 95%, 61%)));
	background-image: -webkit-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
	background-image: -moz-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
	background-image: -ms-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
	background-image: -o-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
	background-image: linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
}

.label-important,
.badge-important {
  	border-color: #FA5833;
	background-color: #FA603D;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(11, 95%, 76%)), color-stop(100%, hsl(11, 95%, 61%)));
	background-image: -webkit-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
	background-image: -moz-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
	background-image: -ms-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
	background-image: -o-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
	background-image: linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
}

.label-important[href],
.badge-important[href] {
  	border-color: #FA5833;
	background-color: #FA603D;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(11, 95%, 76%)), color-stop(100%, hsl(11, 95%, 61%)));
	background-image: -webkit-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
	background-image: -moz-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
	background-image: -ms-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
	background-image: -o-linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
	background-image: linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
}

.label-warning,
.badge-warning {
  	border-color: #F4A506;
	background-color: #FABB3D;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(40, 95%, 76%)), color-stop(100%, hsl(40, 95%, 61%)));
	background-image: -webkit-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
	background-image: -moz-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
	background-image: -ms-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
	background-image: -o-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
	background-image: linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
}

.label-warning[href],
.badge-warning[href] {
  	border-color: #F4A506;
	background-color: #FABB3D;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(40, 95%, 76%)), color-stop(100%, hsl(40, 95%, 61%)));
	background-image: -webkit-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
	background-image: -moz-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
	background-image: -ms-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
	background-image: -o-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
	background-image: linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
}

.label-success,
.badge-success {
  	border-color: 	#5AAD34;
	background-color: 	#78CD51;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(101, 54%, 71%)), color-stop(100%, hsl(101, 55%, 56%)));
	background-image: -webkit-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
	background-image: -moz-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
	background-image: -ms-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
	background-image: -o-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
	background-image: linear-gradient(top, 	hsl(101, 54%, 71%), hsl(101, 55%, 56%));
}

.label-success[href],
.badge-success[href] {
  	border-color: 	#5AAD34;
	background-color: 	#78CD51;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(101, 54%, 71%)), color-stop(100%, hsl(101, 55%, 56%)));
	background-image: -webkit-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
	background-image: -moz-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
	background-image: -ms-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
	background-image: -o-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
	background-image: linear-gradient(top, 	hsl(101, 54%, 71%), hsl(101, 55%, 56%));
}

.label-info,
.badge-info {
  	border-color: #2FABE9;
	background-color: #67C2EF;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(200, 80%, 82%)), color-stop(100%, hsl(200, 81%, 67%)));
	background-image: -webkit-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
	background-image: -moz-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
	background-image: -ms-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
	background-image: -o-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
	background-image: linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
}

.label-info[href],
.badge-info[href] {
  	border-color: #2FABE9;
	background-color: #67C2EF;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(200, 80%, 82%)), color-stop(100%, hsl(200, 81%, 67%)));
	background-image: -webkit-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
	background-image: -moz-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
	background-image: -ms-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
	background-image: -o-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
	background-image: linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
}

/***********************************************************************/
/* Sidebar */
/***********************************************************************/
div.sidebar a.active {
	font-weight: bold;
	color: #94CE47;
}

/***********************************************************************/
/***********************************************************************/
/* Responsive CSS Styles */
/***********************************************************************/
/***********************************************************************/

/***********************************************************/
/* Large desktop */
/***********************************************************/
@media (min-width: 1200px) {

	input.wide,
	textarea.wide {
	    width: 500px;
	}

}

/***********************************************************/
/* Small Desktop */
/***********************************************************/
@media (min-width: 980px) {

	input.wide,
	textarea.wide {
	    width: 412px;
	}
	
}

/***********************************************************/
/* Portrait tablet to landscape and Desktop */
/***********************************************************/
@media (min-width: 768px) and (max-width: 979px) {

	#main.container-fluid {
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.navbar-fixed-top {
		margin-bottom: 0;
	}

	input.wide,
	textarea.wide {
	    width: 412px;
	}
	
}

/***********************************************************/
/* Landscape phone to portrait tablet */
/***********************************************************/
@media (max-width: 767px) {

	#main.container-fluid {
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
	}

	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}

	#back-btn {
		margin-top: 10px;
	}

	input.wide,
	textarea.wide {
	    width: 300px;
	}

}

/***********************************************************/
/* Landscape phones */
/***********************************************************/
@media (max-width: 480px) {

	input.wide,
	textarea.wide {
	    width: 300px;
	}

}

/***********************************************************/
/* Portrait phones and down */
/***********************************************************/
@media (max-width: 320px) {

	input.wide,
	textarea.wide {
	    width: 206px;
	}

}
