/*****************************************************************************/
/*****************************************************************************/
/* Page Layout Styles */
/*****************************************************************************/
/*****************************************************************************/

/***********************************************************************/
/* Layout Styles */
/***********************************************************************/

body {
	height: 100%;
	background: #eeeeee;
}

.lwcms.page #main {
	padding-top: 42px;
	padding-bottom: 60px;
}

#footer {
	padding-left: 20px;
}

#footer .credit {
	margin: 0 0 20px 20px;
}

/***********************************************************************/
/* Header */
/***********************************************************************/
.lwcms.page #header {
	border-bottom: 3px #96B0DF solid;
	height: 50px;
}

.lwcms.page #header.navbar .nav {
	margin-top: 0;
}

.lwcms.page .navbar-nav > li > a {
	padding: 8px;
	margin-top: 5px;
	margin-right: 10px;
}

.lwcms.page .navbar-brand {
	margin-top: 0px;
	padding: 10px;
	padding-top: 5px;
	margin-right: 30px;
}

.lwcms.page .navbar-brand img {
	height: 37px;
	margin-right: 10px;
}

.lwcms.page .navbar-brand > span {
	display: inline-block;
	vertical-align: middle;
}

.lwcms.page .navbar-brand > img {
    display: inline-block;
}

/***********************************************************************/
/***********************************************************************/
/* Responsive CSS Styles */
/***********************************************************************/
/***********************************************************************/

/***********************************************************/
/* Large desktop */
/***********************************************************/
@media (min-width: 1200px) {


}

/***********************************************************/
/* Small Desktop */
/***********************************************************/
@media (min-width: 992px) {


}

/***********************************************************/
/* Portrait tablet to landscape and Desktop */
/***********************************************************/
@media (min-width: 768px) and (max-width: 992px) {


}

/***********************************************************/
/* Landscape phone to portrait tablet */
/***********************************************************/
@media (max-width: 767px) {


}

/***********************************************************/
/* Landscape phones */
/***********************************************************/
@media (max-width: 480px) {

	
}

/***********************************************************/
/* Portrait phones and down */
/***********************************************************/
@media (max-width: 320px) {


}
